# Data Manipulation with Pandas

In [1]:
import pandas as pd
from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
# using the read_csv method of pandas we read file 
users = pd.read_csv('data/user.tbl', sep='|')

In [3]:
users

     user_id  age sex     occupation zip_code
0          1   24   M     technician    85711
1          2   53   F          other    94043
2          3   23   M         writer    32067
3          4   24   M     technician    43537
4          5   33   F          other    15213
..       ...  ...  ..            ...      ...
938      939   26   F        student    33319
939      940   32   M  administrator    02215
940      941   20   M        student    97229
941      942   48   F      librarian    78209
942      943   22   M        student    77841

[943 rows x 5 columns]

In [4]:
users.shape

(943, 5)

In [ ]:
users.head()

In [ ]:
users.index

In [ ]:
users.columns

In [ ]:
users.dtypes

In [ ]:
users.values

In [ ]:
users.info()

In [ ]:
users['sex']

In [ ]:
users.sex # shorthand for above, but only if column name is one word

In [ ]:
users.describe() # describe numeric columns

In [ ]:
users.describe(include='all') # include non-numeric

In [ ]:
users.sex.describe() # describe a single column

In [ ]:
users.age.mean()

In [ ]:
# Draw a histogram of a column (the distribution of ages)
users.age.hist(bins=5);

In [ ]:
users.sex.value_counts() # count occurrences of each value

In [ ]:
users.zip_code.value_counts()

In [ ]:
users.sex.value_counts().plot(kind='bar');

In [ ]:
# Can also be used with numeric variables
# Try .sort_index() to sort by indices or .sort_values() to sort by counts
users.age.value_counts()

In [ ]:
users.age.value_counts().sort_index().plot(kind='bar', figsize=(16, 5))
plt.xlabel('Age')
plt.ylabel('Number of users')
plt.title('Number of users per age');

## Exercise 1

In [ ]:
# Read drinks.csv into a DataFrame called "drinks"
drinks = pd.read_csv('data/drinks.csv')

In [ ]:
# Print the head and the tail

In [ ]:
# Examine the default index, datatypes, and shape

In [ ]:
# Print the beer_servings series

In [ ]:
# Calculate the average beer_servings for the entire data set

In [ ]:
# Count the number of occurrences of each "continent" value and see if it looks correct

## Filtering and Sorting
* We can use simple operator comparisons on columns to extract relevant or drop irrelevant information

* Logical filtering: Only show users whose age < 20

In [ ]:
# Create a series of Booleans
# In Pandas, this comparison is performed element-wise on each row of data
young_bool = users.age < 20
young_bool

In [ ]:
# … and use that series to filter rows
users[young_bool]

In [ ]:
users['boolage'] = users.age < 30
users.head()

In [ ]:
# Or, combine into a single step
users[users.age < 20]

In [ ]:
users.columns

In [ ]:
users.head()

In [ ]:
users_under20 = users[users.age < 20]
users_under20

In [ ]:
# Select one column from the filtered results
users[users.age < 20].occupation

In [ ]:
# value_counts of resulting Series
users[users.age < 20].occupation.value_counts()

## Logical filtering with multiple conditions

In [ ]:
# & = bitwise AND 
# parentheses around each expression because & has higher precedence than <
users[(users.age < 20) & (users.sex == 'M')]

In [ ]:
# | = Bitwise OR 
# Parentheses around each expression because | has higher precedence than <
users[(users.age < 20) | (users.age > 60)]

In [ ]:
# Preferred alternative to multiple OR conditions

#users[(users['occupation'] == 'doctor') | (users['occupation'] == 'lawyer')]
users[users.occupation.isin(['doctor', 'lawyer'])]

## Sorting

In [ ]:
# Sort a Series
users.age.sort_values()

In [ ]:
# Sort DataFrame by a single column
users.sort_values('age')

In [ ]:
users.sort_values('age', ascending=False)

In [ ]:
users.sort_values(['occupation', 'age']) # sort by multiple columns

## Exercise 2
* Use the __`drinks.csv`__ or __`drinks`__ dataframe from earlier to complete the following

In [ ]:
# Filter DataFrame to only include European countries

In [ ]:
# Filter DataFrame to only include European countries with wine_servings > 300

In [ ]:
# Calculate the average beer_servings for all of Europe

In [ ]:
# Determine which 10 countries have the highest total_litres_of_pure_alcohol

## Renaming, Adding, and Removing Columns

In [ ]:
drinks.head()

In [ ]:
# Are beer servings and spirit servings correlated?
drinks.plot(kind='scatter', x='beer_servings', y='spirit_servings');

In [ ]:
# Rename one or more columns in a single output using value mapping.
drinks.rename(columns={'beer_servings':'beer',
                       'wine_servings':'wine',
                       'spirit_servings':'spirit', 
                       'total_litres_of_pure_alcohol': 'liters',
                       }, inplace=True)

In [ ]:
drinks.head()

## Easy Column Operations
* rather than having to reference indexes and use __`for`__ loops to do column-wise operations, Pandas knows that when we add columns together, we want to add the values in each row together

In [ ]:
# Add a new column as a function of existing columns.
drinks['servings'] = drinks.beer + drinks.spirit + drinks.wine
drinks['mL'] = drinks.liters * 1000

drinks.head()

## Removing columns

In [ ]:
# Drop multiple columns.
drinks.drop(['mL', 'servings'], axis=1)

In [ ]:
drinks.head()

In [ ]:
# Drop on the original DataFrame rather than returning a new one.
drinks.drop(['mL', 'servings'], axis=1, inplace=True)

In [ ]:
drinks.head()

## What about missing values?

In [ ]:
# Missing values are usually excluded in calculations by default
drinks.continent.value_counts()

In [ ]:
# Includes missing values
drinks.continent.value_counts(dropna=False)

In [ ]:
drinks.continent.isnull()

In [ ]:
# Find missing values in a Series
# True if missing, False if not missing
drinks.continent.isnull().sum()

In [ ]:
# Only show rows where continent is not missing
drinks[drinks.continent.isnull()]
#drinks[drinks.continent.notnull()]

## Find missing values in a dataframe

In [ ]:
# Count the missing values in each column — remember by default, axis=0
print((drinks.isnull().sum()))

In [ ]:
drinks.isnull().sum().plot(kind='bar');         # visually
plt.title('Number of null values per column');

## Dropping Missing Values

In [ ]:
drinks.shape

In [ ]:
# Drop a row if ANY values are missing from any column — can be dangerous!
drinks.dropna()

In [ ]:
# Drop a row only if ALL values are missing.
drinks.dropna(how='all')

## Filling Missing Values
* You may have noticed that the continent North America (NA) does not appear in the __`continent`__ column
* Pandas read in the original data and saw "NA", thought it was a missing value, and converted it to a __`NaN`__

In [ ]:
# Fill in missing values with "NA" - dangerous to do w/o manually verifying
drinks.continent.fillna(value='NA')

In [ ]:
# Modifies "drinks" in-place
drinks.continent.fillna(value='NA', inplace=True)

In [ ]:
drinks.dropna()

## Exercise 3

In [ ]:
# Read ufo.csv into a DataFrame called "ufo"
ufo = pd.read_csv('./data/ufo.csv')

In [ ]:
# Check the shape of the DataFrame
ufo.shape

In [ ]:
# What are the three most common colors reported?

In [ ]:
# Rename any columns with spaces so that they don't contain spaces

In [ ]:
# For reports in VA, what's the most common city?

In [ ]:
# Print a DataFrame containing only reports from Arlington, VA

In [ ]:
# Count the number of missing values in each column

In [ ]:
# How many rows remain if you drop all rows with any missing values?

## Split-Apply-Combine, a pattern for analyzing data
* Suppose we want to find mean beer consumption per country

* __Split:__ Group data by continent
* __Apply:__ For each group, apply the __`mean()`__ function to find the average beer consumption
- **Combine:** Combine the continent names with the __`mean()`__s to produce a summary of our findings

In [ ]:
drinks.head()

In [ ]:
# For each continent, calculate the mean beer servings
drinks.groupby('continent').beer.mean()

In [ ]:
# For each continent, calculate the mean of all numeric columns
drinks.groupby('continent').mean(numeric_only=True)

In [ ]:
# For each continent, describe beer servings
drinks.groupby('continent').beer.describe()

In [ ]:
# For each continent, describe all numeric columns
drinks.groupby('continent').describe()

In [ ]:
# For each continent, count the number of rows.
print((drinks.continent.value_counts()))   # should be the same

## Exercise 4
* Use the "users" dataframe or "users" file in the data folder to complete the following

In [ ]:
users.head()

In [ ]:
# For each occupation in "users", count the number of occurrences

In [ ]:
# For each occupation, calculate the mean age

In [ ]:
# For each occupation, calculate the minimum and maximum ages

In [ ]:
# For each combination of occupation and gender, calculate the mean age

----

<a id="multiple-columns"></a>
## Selecting Multiple Columns and Filtering Rows

In [ ]:
ufo.head()

In [ ]:
# Or, combine into a single step (this is a Python list inside of the Python index operator!)
ufo[['City', 'State']].head()

### Use __`.loc`__ to select columns by name

In [ ]:
# "loc" locates the values from the first parameter (colon means "all rows"), and the column "City".
ufo.loc[:, 'City'] # same as ufo['City']

In [ ]:
# Select two columns
ufo.loc[:, ['City', 'State']] # same as ufo[['City', 'State']]

In [ ]:
# Select a range of columns — unlike Python ranges, Pandas index ranges INCLUDE the final column in the range
ufo.loc[:, 'City':'State']

In [ ]:
# "loc" can also filter rows by "name" (the index).
# Row 0, all columns
ufo.loc[0, :]

In [ ]:
# Rows 0/1/2, all columns
ufo.loc[0:2, :]

In [ ]:
# Rows 0/1/2, range of columns
ufo.loc[0:2, 'City':'State']

## Other Commonly Used Features

In [ ]:
# Apply a function to each value of a column, storing result in a new column
users['under30'] = users.age.apply(lambda age: age < 30)

In [ ]:
# Apply a function to each row, storing result in a new column
# (Remember that, by default, axis=0. Since we want to by row, we set axis=1)
users['under30male'] = users.apply(lambda row: row.age < 30
                                           and row.sex == 'M', axis=1)

In [ ]:
users.head()

In [ ]:
# Replace all instances of a value in a column (must match entire value)
ufo.State.replace('Fl', 'FL', inplace=True)

In [ ]:
# String methods are accessed via "str"
ufo.State.str.upper() # Converts to upper case

In [ ]:
# checks for a substring
ufo['Colors Reported'].str.contains('RED')

In [ ]:
ufo.loc[80539]

In [ ]:
# Convert a string to the datetime format (this is often slow — consider doing it in the "read_csv()" method.)
ufo['Time'] = pd.to_datetime(ufo.Time)
ufo.Time.dt.hour                        # Datetime format exposes convenient attributes
(ufo.Time.max() - ufo.Time.min()).days  # Also allows you to do datetime "math"